.country-item-container {
    display: flex;
}

.country-item-container h2 {
    margin: auto 0em;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0.4em;
    background-color: var(--forth-color);
}

.country-item-container h3 {
    margin-left: 0.2em;
}