.countdown-container #top-caption {
    font-size: 1.2em;
    font-weight: 500;
}

.countdown-container #top-caption > span {
    background: linear-gradient(
        to right,
        var(--eleventh-color) 20%,
        var(--third-color) 30%,
        var(--main-color) 40%,
        var(--third-color) 70%,
        var(--eleventh-color) 80%
    );
    padding: 0.2em;
    background-size: 500% auto;
    animation: announcement-text-animation 5s ease-in-out infinite alternate;
}

.countdown-container #top-caption span > span {
    background: linear-gradient(
        to right,
        var(--third-color) 20%,
        var(--eleventh-color) 30%,
        var(--tenth-color) 40%,
        var(--eleventh-color) 70%,
        var(--third-color) 80%
    );
    padding: 0.2em;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: announcement-text-animation 5s ease-in-out infinite alternate;
}

.countdown-container #bottom-caption {
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    background: linear-gradient(
        to right,
        var(--third-color),
        var(--forth-color),
        var(--forth-color),
        var(--third-color)
    );
    padding: 0.2em;
    color: var(--third-color);
}

.countdown-timer {
    display: flex;
    justify-content: space-between;
}

.countdown-value-container {
    width: 80px;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        var(--eleventh-color) 50%,
        var(--third-color)
    );
    /* color: var(--sixth-color); */
}

.countdown-value-container span {
    font-size: 2em;
    font-weight: 700;
    background: linear-gradient(
        var(--forth-color),
        var(--third-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
}

.countdown-value-container p {
    margin: 0em;
    font-weight: 600;
    color: var(--forth-color);
}