/* Countries carousel */
.countries-carousel-container {
    width: 100%;
    margin: auto;
    max-width: 500px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

/* Country container */
.country-container {
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

/* Country upper container */
.voting-upper-container {
    /* background-color: #0d5eaf; */
    position: relative;
    display: flex;
}

/* .running-order-container .corner-item {
    transform: translateX(-8px);
    width: 50px;
    background: linear-gradient(to bottom right, transparent 50%, #0d5eaf 50%);
} */

.country-container .voting-upper-container .country-image {
    display: none;
}

.country-container.current-running .voting-upper-container .country-image {
    display: initial;
    height: 50px;
}

.voting-upper-container .total-votes-container {
    /* width: 100%; */
    display: flex;
    background-color: white;
}

/* .voting-upper-container .total-votes-container .corner-item {
    width: 50px;
    background: linear-gradient(to top left, transparent 50%, #0d5eaf 50%);
    
} */

/* Voting container */
.voting-container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 25px; */
    /* padding: 25px; */
    background: white;
    /* border-radius: 5px; */
    cursor: pointer;
    min-height: 0;  /* NEW */
    min-width: 0;
    justify-items: center;
}

/* Display total votes container */
.display-total-votes-container {
    display : flex;
    background: #0d5eaf;
}

.display-total-votes {
    display: flex;
    margin: auto;
    height: 50px;
    width: 50px;
    background: #0d5eaf;
    border-radius: 5px;
    color: white;
}

.display-total-votes span {
    margin: auto;
    font-size: 1.8em;
    font-weight: 700;
}
  
.voting-item {
    float: none;
    display: flex;
    margin: 0em;
    background: #0d5eaf;
    border-radius: 5px;
    color: white;
    will-change: transform, opacity;
}

.voting-item span {
    margin: auto;
    font-weight: 900;
}

/* Display container */
.country-display-container {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.country-display-container .country-name {
    font-size: 1.5em;
    font-weight: 600;
}

.country-display-container .details-container {
    width: 80%;
    display: flex;
    margin: 1em auto;
    justify-content: space-between;
}

/* Cannot display container */
.country-container .cannot-vote-caption {
    margin: auto;
    font-size: 1.5em;
}