@font-face {
    font-family: 'Onest';
    font-weight: 100;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 200;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 300;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 400;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 500;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 600;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 700;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 800;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Onest';
    font-weight: 900;
    src: url(fonts/Onest-VariableFont_wght.ttf);
}

:root {
    --main-color: #0043ff;
    --secondary-color: #fff800;
    --third-color: #ff0087;
    --forth-color: #02025e;
}

/* #region body, html, header, main, footer */

body {
    background-color: wheat;
    font-family: 'Onest', sans-serif;
    margin: 0em;
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

html {
    height: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* #endregion */

/* #region input-containers */

.text-input-container > label, .number-input-container > label, 
.color-picker-input-container > label {
    padding: 0.5em 0em;
}

.checkbox-input-container > label {
    padding: auto;
}

.text-input-container, .number-input-container, 
.color-picker-input-container {
display: flex;
flex-direction: column;
padding: 0em 1em;
}

.checkbox-input-container {
    display: flex;
    padding: 0em 1em;
    margin: auto auto 0em auto;
}

.color-picker-container {
    display: flex;
}

.text-input-container input[type="text"], .number-input-container input[type="text"], 
.color-picker-input-container input[type="text"], input[type="number"] {
display: block;
padding: 0.5em;
border: 0;
border-bottom: 3px solid #555;
/* background: transparent; */
width: 100%;
font-size: 16px;
box-sizing: border-box;
}

input[type="text"]:focus {
border: none;
outline: none;
border-bottom: 3px solid var(--third-color);
}

input[type="color"] {
    height: auto;
    width: 80px;
    margin: 0em 0em 0em 1em;
    border: 3px solid black;
}

input[type="color"]:focus {
    border: 3px solid var(--third-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  font: inherit;
  width: 2em;
  height: 2em;
  border: 0.15em solid;
}

input[type=checkbox]:checked {
    color: #fff;
    background: var(--third-color);
}

/* #endregion */

/* #region admin-details-containers */

details.admin-details-container {
    margin: 1em auto;
    width: 80%;
}

.admin-details-container summary {
    height: 40px;
    padding: 0.5em;
    background-color: var(--third-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.admin-details-container summary::-webkit-details-marker { 
    display: none; 
}

/* #endregion */

/* #region admin-modify-content */

.admin-modify-content {
    display: flex;
}

/* #endregion */

/* #region admin-modify-list-containers */
.admin-modify-list-container {
    flex-basis: 50%;
    overflow-y: scroll;
}
/* #endregion */

/* #region admin-buttons-area */

.admin-buttons-area {
    display: flex;
    
    width: 75%;
    margin: 0.5em auto;
}

.admin-buttons-area > button {
    width: 75%;
    height: 3em;
    margin: 0em 1em;
}

/* #endregion */

/* #region result-button */
/* https://stackoverflow.com/questions/48694894/drawing-border-colors-during-a-css-transition */
.result-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 20px 50px;
    /* outline:none; */
    border: none;
    box-shadow: none;
    --color: #f45e61;
    background-image: 
    linear-gradient(var(--color), var(--color)), 
    linear-gradient(var(--color), var(--color)), 
    linear-gradient(var(--color), var(--color)), 
    linear-gradient(var(--color), var(--color));

    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 3px 0%, 0% 3px, 0% 3px, 3px 0%;
    background-color:transparent;
    background-repeat:no-repeat;
    /* transition:0.2s linear; */
    /* animation: animate 1.4s linear infinite 0.2s; */
    
}

.result-button:hover {

    animation: animate-one 1.4s linear 0.2s;
}

.result-button-animation {
    animation: animate 1.4s linear infinite 0.2s;
}

.result-button:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border:3px solid #60daaa;
}

@keyframes animate {
    0% {
        background-position: 0 100%, 0 0, 0 100%, 100% 0;
        background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
    }
    40% {
        background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
        background-size: 3px 0%, 100% 3px, 0% 3px,3px 100%;
    }
    60% {
        background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
        background-size: 3px 0%, 0% 3px, 100% 3px,3px 100%
    }
    70% {
        background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
        background-size: 3px 100%, 0% 3px, 100% 3px,3px 0%;
    }
    80% {
        background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%;
        background-size: 3px 100%, 0% 3px, 0% 3px,3px 0%;
    }
    100% {
        background-position: 0% 0%, 0 0, 0 100%, 100% 100%;
        background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%  
    }
}

@keyframes animate-one {
    0% {
        background-position: 0 100%, 0 0, 0 100%, 100% 0;
        background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
    }
    40% {
        background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
        background-size: 3px 0%, 100% 3px, 0% 3px,3px 100%;
    }
    60% {
        background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
        background-size: 3px 0%, 100% 3px, 100% 3px,3px 100%
    }
    70% {
        background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
        background-size: 3px 100%, 100% 3px, 100% 3px,3px 100%;
    }
    80% {
        background-position: 0% 0%, 100% 0, 100% 100%, 100% 100%;
        background-size: 3px 100%, 0% 3px, 0% 3px,3px 100%;
    }
    100% {
        background-position: 0% 0%, 0 0, 100% 100%, 100% 100%;
        background-size: 3px 100%, 100% 3px, 100% 3px,3px 100%  
    }
}

.rb-status-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
    align-items: center;
}

.rb-status-transition {
    opacity: 100%;
    width: 100%;
    left: 0%;
}
  
/* #endregion */