.color-segment {
    /* width: 100%; */
    /* background: linear-gradient( var(--main-color), var(--secondary-color), var(--third-color), var(--secondary-color), var(--main-color)); */
    background: linear-gradient( var(--sixth-color), var(--fifth-color) 10%, var(--third-color), var(--fifth-color), var(--sixth-color));
    /* background-size: 200% 200% !important; */
    /* animation: color-animation 7s ease infinite; */
}

fieldset {
    position: relative;
    z-index: 2;
    margin: 1em auto;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    background-color: var(--fifth-color);
    border: 4px solid var(--forth-color);
}

fieldset > p {
    margin: auto;
    font-weight: 600;
}

legend {
    font-weight: 700;
    background-color: var(--forth-color);
    padding: 0.5em 2em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:focus + label {
    background-color: #7c7c99;
}

input[type="radio"]:checked + label {
    border: 2px solid var(--forth-color);
    background-color: var(--forth-color);
    color: black;
}

label {
    display: inline-block;
    width: 50%;
    border: 2px solid var(--forth-color);
    color: var(--forth-color);
    font-weight: 700;
    padding: 1em;
    margin: 0.5em auto;
    transition-duration: 0.5s;
}

input[type="radio"] + label:hover {
    border: 2px solid black;
    color: black;
}

.judge-content {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
}

.judge-content > .online-status-container {
    width: 20px;
    height: 20px;
    margin: auto 0em;
    border: 2px solid black;
}

.judge-content > .online-status-container.online {
    background-color: var(--green-color);
}

.judge-content > .online-status-container.offline {
    background-color: var(--red-color);
}

#judges-list-container {
    margin: 2em 0em;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}

#connect-btn {
    font-size: 1.2em;
    height: 50px;
    width: 200px;
    margin: auto;
    /* border: 2px solid black; */
    border: none;
    background-color: var(--forth-color);
    font-family: 'Onest', sans-serif;
}

#connect-btn:hover {
    font-weight: 900;
}

#main {
    position: relative;
}

#caption-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#caption-container > p {
    z-index: 1;
    color: var(--fifth-color);
    position: absolute;
}

/* TABLET-BASED LAYOUT */
@media only screen and (min-width: 425px) {
    fieldset {
        width: 40%;
    }
}