fieldset {
    margin: auto;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    background-color: var(--forth-color);
}

legend {
    background-color: var(--secondary-color);
    padding: 0.5em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:focus + label {
    background-color: #7c7c99;
}

input[type="radio"]:checked + label {
    border: 2px solid #215ef9;
    background-color: #215ef9;
}

label {
    display: inline-block;
    width: 50%;
    border: 2px solid #858da8;
    color: #858da8;
    font-weight: 700;
    padding: 1em;
    margin: 1em auto;
    transition-duration: 0.5s;
}

input[type="radio"] + label:hover {
    border: 2px solid black;
    color: black;
    
}

#judges-list-container {
    margin: 2em 0em;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
}

button {
    height: 50px;
    width: 100px;
    margin: auto;
    background-color: var(--third-color);
    font-family: 'Onest', sans-serif;
}

button:hover {
    font-weight: 900;
}
