/* #region form-grid-areas */

.inputs-area {
    display: grid;
    border-top: 0px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "code name admin"
                         "origincountry origincountry origincountry";
}

/* #endregion */

/* #region grid-areas */

#code-container {
    grid-template: code;
}

#admin-container {
    grid-template: admin;
}

#name-container {
    grid-area: name;
}

#origincountry-container {
    grid-area: origincountry;
}

/* #endregion */

/* #region judge-container */
.judge-container > * {
    pointer-events:none
}
/* #endregion */