/* #region Admin dashboard container */

#running-order-display-dashboard {
    display: flex;
    justify-content: space-between;
    color: white;
}

.admin-dashboard-container {
    margin: 1em;
    width: 25%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--forth-color);
}

.admin-dashboard-container h1 {
    grid-row: 1/2;
    /* width: 100%; */
    border-bottom: 3px solid var(--third-color);
    /* margin: 0em; */
    height: 2em;
    margin: auto;
}

.admin-dashboard-container .admin-dashboard-content {
    grid-row: 2/3;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-dashboard-container .admin-dashboard-content h2 {
    margin: 0em auto;
}

.admin-dashboard-container .dashboard-caption-container {
    margin: 0.5em auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-dashboard-container .dashboard-caption-container > h3 {
    margin: 0em auto;
}

.admin-dashboard-container .dashboard-caption-container > p {
    margin: 0em auto;
}

.dashboard-total-voting-points-container span {
    font-size: 5.5em;
    margin: 0em auto;
    font-weight: 700;
}

/* #endregion */

/* #region Admin settings container */

#admin-settings-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0.5em;
}

#reset-running-country-container {
    grid-row: 1/2;
    grid-column: 1/2;
}

.button-container > button {
    height: 60px;
    border: 5px solid var(--third-color);
}

/* #endregion */

/* #region Admin voting country container / Detail */

.admin-voting-country-container {
    width: 80%;
    margin: 1em auto;
}

.admin-voting-country-container > summary::-webkit-details-marker {
    display: none; 
}

.admin-voting-country-container > summary {

    /* padding: 0.5em; */
    background-color: var(--forth-color);
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.admin-voting-country-container > summary .left-container {
    /* width: 100%; */
    display: flex; 
}

.admin-voting-country-container > summary p {
    /* width: 100%; */
    margin: 0em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.admin-voting-country-container > summary p.running-order-txt,
.admin-voting-country-container > summary p.total-votes-txt {
    min-width: 50px;
    color: var(--forth-color);
    background-color: var(--third-color);
    font-weight: 700;
}

.admin-voting-country-container > summary img {
    margin: auto 0.5em;
}

.admin-voting-country-container > summary .code-txt {
    color: var(--fifth-color);
    font-weight: 600;
}

.admin-voting-country-container > summary .name-txt {
    color: var(--third-color);
    font-weight: 600;
}

.admin-voting-country-container > summary .right-container {
    display: flex; 
}

.admin-voting-country-container > summary .right-container .voting-toggle-switch {
    /* width: 100%; */
    margin: auto 0.5em;
}

.admin-voting-country-content {
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
}

/* Table */
.admin-voting-country-content table.voting-country-table {
    /* border-collapse: collapse; */
    table-layout: fixed;
    border-spacing: 0.5em 0.5em;
}

table.voting-country-table thead tr:first-child th {
    color: var(--third-color);
}

table.voting-country-table thead th,
table.voting-country-table th.judge-name-caption {
    background-color: var(--forth-color);
    padding: 0.5em;
}

table.voting-country-table thead th.point-caption {
    width: 50px;
}

table.voting-country-table tbody tr td {
    /* padding: 0.5em; */
    background-color: var(--forth-color);
    /* display: flex; */
}

/* Vote radio button */
table.voting-country-table tbody input[type="radio"] {
    display: none;
}

table.voting-country-table tbody input[type="radio"] + label {
    text-align: center;
    display: table;
    height: 45px;
    width: 100%;
    /* padding: 1em; */
    color: black;
    transition-duration: 0.5s;
}

table.voting-country-table tbody input[type="radio"] + label > i {
    display: none;
    color: var(--forth-color);
    font-weight: 900;
}

table.voting-country-table tbody input[type="radio"]:checked + label > i {
    display: initial;
}

table.voting-country-table tbody input[type="radio"]:checked + label {
    background-color: var(--fifth-color);
}

/* Update vote button */
table.voting-country-table tbody button {
    align-items: center;
    background-color: var(--forth-color);
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    font-weight: 900;
    height: 45px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

table.voting-country-table tbody button:hover {
    color: white;
}

/* #endregion */

#next-country-btn {
    position: fixed;
    top: 80%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 1em;
    background-color: var(--third-color);
    color: white;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

/* #region Next country button */