/* .table-container {
    display: table;
  } */
  
.table-row, .sort-table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding-left: 5px;
}

.table-header {
    display: table-header-group;
}

.table-body {
    display: table-row-group;
}

.simple-table-cell p {
    text-wrap: nowrap;
}

.sort-table-cell {
    display: flex;
}

.sort-table-cell .sorting-icon {
    margin: auto;
}