.eurovision-heart-1 {
    /* fill: var(--tenth-color); Initial fill color (inside the heart) */
    /* stroke-width: 10 !important; */
    animation: test-2-animation 3s 0.5s infinite;
    /* animation: color-animation 7s linear infinite; */
    transform-origin: center;
    transform-box: fill-box;
}

.eurovision-heart-2 {
    /* fill: var(--secondary-color); Initial fill color (inside the heart) */
    /* stroke-width: 10 !important; */
    animation: test-1-animation 3s 1s infinite;
    transform-origin: center;
    transform-box: fill-box;
    
    /* animation: color-animation 7s linear infinite; */
}

.eurovision-heart-3 {
    /* fill: var(--forth-color); Initial fill color (inside the heart) */
    animation: test-1-animation 3s 1.5s infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transform-origin: center;
    transform-box: fill-box;
}

.eurovision-heart-4 {
    /* fill: var(--seventh-color); Initial fill color (inside the heart) */
    animation: test-1-animation 3s 2s infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes test-2-animation {
    0%{transform: scale(0.0);}
    
    10%{transform: scale(1.0);}

    80%{transform: scale(0.0);}

    100%{transform: scale(0.0);}

}

@keyframes test-1-animation {
    0%{transform: scale(0.0);}

    5%{transform: scale(1.0);}
    
    80%{transform: scale(0.0);}

    100%{transform: scale(0.0);}

}