.list-container {
    overflow-x: auto;
}

.list-container-item {
    display: flex;
    width: 100%;
}

.list-container-item > input[type="radio"] {
    display: none;
}

.list-container-item > label {
    width: 100%;
    transition-duration: 0.5s;
    border: 2px solid transparent;
}

.list-container-item > input[type="radio"] + label:hover {
    border: 2px solid var(--forth-color);
}

.list-container-item > input[type="radio"]:checked + label {
    border: 2px solid black;
}